@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Raleway:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.NavB{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.Nav{
    display: flex;
    gap: 40px;
    cursor: pointer;
    color: hsl(243, 87%, 12%);
    font-family:'Raleway', sans-serif;
    font-weight: 500;
}
.fp-props{
    padding: 60px;
    display: flex;
}
.txt h1{
    padding-bottom: 20px;
    padding-right: 100px;
    color: hsl(243, 87%, 12%);
    font-family:'Raleway', sans-serif;
    font-weight: 800;
}
.txt p{
    padding-bottom: 20px;
    padding-right: 100px;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.fp-img{
    margin-top: -130px;
}
.fp-inputs{
    display: flex;
}
.fp-email{
    width: 250px;
    height: 40px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid hsl(243, 87%, 12%);
    outline: none;
    padding: 20px;
}
.fp-email::placeholder{
    font-size: 15px;
}
.fp-submit{
    height: 40px;
    width: 180px;
    border: none;
    background-color: hsl(224, 93%, 58%);
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}




.secpag{
    background: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 730px;
}
.sp-props{
    padding: 60px;
    padding-top: 150px;
}
.sp-props h1{
    padding-bottom: 20px;
    color: hsl(243, 87%, 12%);
    font-family:'Raleway', sans-serif;
    font-weight: 800;
}
.sp-props-p{
    padding-bottom: 20px;
    padding-right: 100px;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.sp-props a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: hsl(170, 45%, 43%);
}
.arrow{
    margin-bottom: -3px;
}
.sp-img{
    margin-top: 100px;
    margin-right: 100px;
}
.sp-card{
    background-color: white;
    box-shadow: 0px 0px 10px 0px hsl(0, 0%, 75%);
    width: 350px;
    height: 230px;
    margin-top: 40px;
    display: grid;
}
.quote{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 8px;
}
.sp-txt{
    padding-right: 40px;
    padding-left: 40px;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}
.sp-ceo{
    display: flex;
}
.avatar{
    margin-left: 40px;
    border-radius: 50px;
}
.sp-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: hsl(243, 87%, 12%);
    padding-left: 10px;
}
.sp-title h1{
    font-size: 13px;
    padding-bottom: 0px;

}




.gp-props{
    display: flex;
    height: 252px;
    background-color: hsl(238, 22%, 44%);
    padding-top: 80px;
}
.gp-props h2{
    padding-bottom: 20px;
    padding-left: 60px;
    color: #fff;
    font-family:'Raleway', sans-serif;
    font-weight: 800;   
}
.gp-props p{
    padding-right: 200px;
    padding-left: 60px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.gp-input{
    padding-right: 80px;
}
.tp-email{
    width: 500px;
    height: 40px;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid hsl(243, 87%, 12%);
    outline: none;
}
.tp-email::placeholder{
    font-size: 15px;
}
.tp-submit{
    height: 40px;
    width: 180px;
    border: none;
    background-color: hsl(224, 93%, 58%);
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}


.tp-logo{
    padding: 60px;
    padding-top: 100px;
    padding-bottom: 20px;
}
.bp{
    height: 378px;
    background-color: hsl(243, 87%, 12%);
}
.bp-icons{
    display: grid;
    padding-left: 60px;
    color: white;
}
.ph{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.em{
    display: flex;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.bp-props{
    display: flex;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    gap: 350px;
}
.bp-txt1{
    display: grid;
    gap: 13px;
}
.bp-txt2{
    display: grid;
    gap: 13px;
}
.phone{
    height: 15px;
}
.email{
    height: 15px;
}














@media(max-width: 900px){
    .nv-logo{
        width : 100px;
    }    
    .NavB{
        padding: 20px;
        padding-top: 40px;
        gap: 60px;
    }
    .Nav{
        gap: 20px;
        font-size: 14px;
    }
    .fp-props{
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .fp-img{
        width: 300px;
        margin-top: 0px;
    }
    .fp-inputs{
        display: grid;
        justify-content: center;
        padding-bottom: 60px;
    }
    .fp-email{
        width: 350px ;
        margin-bottom: 20px;
    }
    .fp-submit{
        width: 350px;
    }
    .txt h1{
       padding-right:0px;
       font-size: 30px;
       padding-bottom: 0px;
    }
    .txt p{
        padding: 20px;
    }
    .secpag{
        background: url(./images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        height: 900px;
        padding: 0px;
    }
    .sp-img{
        width: 300px;
        margin-top: 300px;
        margin-right: -50px;
        margin-bottom: 20px;
    }
    .sp-props{
        padding:0px;
    }
    .ancrow{
        text-align: center;
        align-items: center;
    }
    .sp-props h1{
        padding-bottom: 20px;
        text-align: center;
    }
    .sp-props-p{
        padding-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
        text-align: left;
    }
    .pad{
        padding-bottom: 50px;
    }
    .sp-card{
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 80px;
       
    }
    .sp-txt{
        text-align: left;
    }
    .sp-title{
        text-align:left;
    }
    .gp-props{
        display: grid;
        height: 400px;
        padding: 20px;
        padding-top: 50px;
    }
    .bp-props{
        display: grid;
        gap: 50px;
        padding: 40px;
    }
    .gp-input{
        text-align: center;
        align-items: center;
        padding-right: 0px;
    }
    .tp-email{
        width: 300px;
        margin-right: 0px;
    }
    .gp-para{
        text-align: center;
    }
    .gp-props h2{
        padding-bottom: 20px;
        padding-left: 0px;
    }
    .gp-props p{
        padding-right: 0px;
        padding-left: 0px;
    }
    .bp{
        height: 700px;
    }
    .bp-icons{
        padding-left: 8px;
    }
}